<%- include('../partials/header.ejs') %>

<form action="/games/<%= id %>/questions/<%= idx %>?_method=patch" method="post">
    <input type="text" name="title" value="<%= question.title %>" id="">
    <input type="text" name="answer" value="<%= question.answer %>" id="">
    <input type="submit" value="Add question">
</form>

<%- include('../partials/footer.ejs') %>